.signform{
	/*height: 100%;*/
	vertical-align: middle;
	background-color: #B8E7E8;
	max-width: 450px;
	margin: 100px auto;
}
.signform h2{
	background-color: #79ECE7;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
	border-radius: 29px;
}

.signform .content{
	padding:30px;
}

html body .container{
	height:100%;
	width: 100%;
	/*background:blue;*/
}

.notfound{
	color:#fe0000;
}
.found{
	color:#00fe00;
}

.top-pound{
	margin-top: 3%;
}
.same-size{
	display: inline-block;
}

