
<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<form name="editForm"  class="form-horizontal print-hidden" ng-submit="ok()" novalidate>
  <div class="modal-body">
    <h3 class="text-danger">{{msg}}</h3>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
