﻿<div class="modal-header">
    <h3 class="modal-title">Delete Confirm</h3>
</div>
<div class="modal-body">
  <p>{{message}}</p>
    {{x}}
    <!--<input type="button" name="yes" value="Yes"/>
    <input type="button" name="yes" value="No" />-->
</div>
<div class="modal-footer">
    <input class="btn btn-primary"  type="button" name="yes" value="Yes" ng-click="ok()"/>
    <input class="btn btn-danger" type="button" name="yes" value="No" ng-click="cancel()" />
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>

