<!-- the search templete page that contains all features needed in the search controller -->
<input type="text" name="{{name}}" ng-model="model" placeholder="{{placeholder}}" typeahead="(key ? searchData[key]:searchData) as searchData[value] for searchData in sc.getSearch($viewValue,url,limit, method, key)" typeahead-loading="sc.loadingData" typeahead-no-results="sc.noResults" class="form-control" typeahead-editable="false" typeahead-template-url="{{resultTemplate}}" typeahead-on-select="model = callback($item, model, field, cuitem, sc.crudServ) || model" typeahead-wait-ms="{{delay}}" ng-required='{{require}}' typeahead-input-formatter="formatter($model, sc.searchResult) || sc.formatLabel($model, value, key)">
<i ng-show="sc.loadingData" class="glyphicon glyphicon-refresh"></i>
<div ng-show="sc.noResults">
  <i class="glyphicon glyphicon-remove"></i> No Results Found
</div>

<div ng-if="multiple">
    <li ng-repeat="list in sc.selectedList track by $index" class="multisearchitem">{{list}}
        <a href="" ng-click="sc.removeFromList($index)" class="remove-button">x</a>
    </li>
</div>
